@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="successArea">
    <div class="banner">Success!</div>
    <div class="description">
        <span class="content">You have sucessfully logged in to the public device.</span>
        <br/>
        <span class="content">You can close this window now. </span>
    </div>
</div>